.detailsPromo {
  grid-area: details;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 760px) {
  .detailsPromo {
    flex-direction: row;
    padding: 40px 40px 0px 40px;
  }
}
@media (max-width: 550px) {
  .detailsPromo {
    flex-direction: column;
    row-gap: 20px;
  }
}

.bun {
  padding: 40px;
}
@media (max-width: 960px) {
  .bun {
    padding: 20px;
  }
}
@media (max-width: 760px) {
  .bun {
    padding: 0;
  }
}

.img {
  padding-left: 20px;
  padding-right: 20px;
}
.img img {
  max-width: 240px;
}
@media (max-width: 550px) {
  .img img {
    max-width: 200px;
  }
}