@import '@styles/vars';

.company {
	flex: 0 1 20%;
}

.logo {
	display: flex;
	align-items: center;
	column-gap: 8px;
	white-space: nowrap;
}

.img{
	max-width: 52px;
	display: block;
	padding: 12px;
	border: 1px solid rgb(188, 188, 188);
	border-radius: 10px;
	background: rgb(241, 241, 241);

	img{
		width: 25px;
		height: auto;
	}

	@media (max-width: 560px) {
		padding: 8px;
	}
}

.title{
	color: #fff;
	font-size: $font-size-second;
	font-weight: 600;
	line-height: 120%;
}

.subtitle{
	color: rgb(154, 154, 154);
	font-size: 11px;
	font-weight: 500;
	line-height: 120%;
}

.text {
	margin-top: 20px;
	line-height: 140%;
	color: #fff;
}