@import '../../../shared/styles/vars.scss';

.informationPromo {
	grid-area: information;
	max-height: 500px;
	padding: 40px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	justify-content: center;
	align-items: start;

	@media (max-width: 960px) {
		padding: 20px;
	}

	@media (max-width: 760px) {
		padding: 40px;
	}

	@media (max-width: 530px) {
		padding: 20px;
		max-height: 1000px;
	}
}

.title {
	font-size: 48px;
	font-weight: 700;
	line-height: 130%;
	
	span{
		color: rgb(131, 35, 53);
	}

	@media (max-width: 960px) {
		font-size: 40px;
	}

	@media (max-width: 530px) {
		font-size: 32px;
	}
}

.text {
	font-size: $font-size-second;
	line-height: 130%;

	@media (max-width: 960px) {
		font-size: $font-size;
	}
}

.btn {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
	column-gap: 8px;
	min-height: 56px;
	padding: 0 32px;
	margin-top: 17px;

	&::before{
		font-size: 22px;
	}
}

