@import '@styles/vars';

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid rgb(230, 230, 230);
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
	z-index: 100;
}

.container {
	position: relative;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	column-gap: 15px;

	@media (max-width: 560px) {
		height: 48px;
	}
}

.logo {
	display: flex;
	align-items: center;
	column-gap: 8px;
	white-space: nowrap;
}

.logoImg{
	max-width: 52px;
	display: block;
	padding: 12px;
	border: 1px solid rgb(188, 188, 188);
	border-radius: 10px;
	background: rgb(241, 241, 241);

	img{
		width: 25px;
		height: auto;
	}

	@media (max-width: 560px) {
		padding: 8px;
	}
}

.logoTitle{
	color: $main-color;
	font-size: $font-size-second;
	font-weight: 600;
	line-height: 120%;
}

.logoSubtitle{
	color: rgb(154, 154, 154);
	font-size: 11px;
	font-weight: 500;
	line-height: 120%;
}

.order {
	color: $main-color;
	font-size: $font-size-second;
	font-weight: 600;
	line-height: 140%;
	white-space: nowrap;

	a{
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		column-gap: 10px;
		transition: $default-trans;

		&:hover{
			@media (hover: hover) {
				color: rgb(131, 35, 53);
			}
		}
	}

	@media (max-width: 640px) {
		flex: 1 1 auto;
	}

	@media (max-width: 560px) {
		display: none;
	}
}

.icon{
	width: 24px;
	height: 14px;
	display: none;
	flex-direction: column;
	justify-content: space-between;

	&::after,&::before{
		content: '';
		background-color: #000;
		display: block;
		height: 2px;
	}

	span{
		background-color: #000;
		height: 2px;
	}

	@media (max-width: 640px) {
		display: flex;
	}
}


