//Контейнер.............................................
$container-width:1160px;
$container: 1160;
$main-offset:10px;
//Шрифты.............................................
$font-family:'Manrope';
$font-family-second: Roboto;
$main-color: rgb(23, 22, 22);
$burgundy-color: rgb(131, 35, 53);
$burgundy-hover-color: rgb(92, 8, 24);
$font-size:16px;
$font-size-second:18px;
//Прочее.............................................
$default-trans:all 300ms ease-in-out;