@import '@styles/mixins';

.container {
	padding-top: 47px;
	display: grid;
	gap: 40px;
	@include adaptive-value('gap', 40, 20);
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas: 'information information details'
								'information information details'
								'conditions conditions conditions';

	@media (max-width: 760px) {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 0.5fr;
		grid-template-areas: 'information'
									'conditions'
									'details';
	}
						
	@media (max-width: 530px) {
		grid-template-rows: auto;
	}

	& > div{
		border: 1px solid rgb(188, 188, 188);
		border-radius: 20px;
		background: rgb(241, 241, 241);
	}
}

