.expirience {
	&__container {
		@include adaptive-value("padding-top", 120, 40);
		display: flex;
		flex-direction: column;
		@include adaptive-value("row-gap", 40, 12);
	}

	&__titles {
		display: flex;
		justify-content: space-between;
		column-gap: 20px;
		align-items: start;

		@media (max-width: 455px) {
			flex-direction: column-reverse;
		}
	}

	&__item {
		font-size: $font-size-second;
		line-height: 130%;
		display: flex;
		column-gap: 8px;
		max-width: 590px;

		&::before{
			color: $burgundy-color;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 15px;

		@media (max-width: 640px) {
			flex-direction: column;
			align-items: start;
		}
	}

	&__achievements {
		flex: 0 1 15%;
		display: flex;
		flex-direction: column;
		row-gap: 40px;

		@media (max-width: 640px) {
			flex-direction: row;
			@include adaptive-value("column-gap", 100, 20);
		}
	}

	&__achievement {
		display: flex;
		flex-direction: column;
		@include adaptive-value("row-gap", 20, 12);

		@media (max-width: 640px) {
			flex: 0 1 150px;
		}
	}

	&__num {
		color: $burgundy-color;
		font-size: 40px;
		line-height: 120%;
		font-weight: 700;

		@media (max-width: 455px) {
			font-size: 24px;
		}
	}

	&__text {
		line-height: 140%;

		@media (max-width: 640px) {
			font-size: 14px;
		}
	}

	&__map {
		flex: 0 1 80%;
		img{
			max-width: 100%;
		}
	}
}