body{
	font-family: $font-family;
	position: relative;
	&._lock{
		 overflow: hidden;
	}
}
[class*="__container"]{
	max-width: $container-width + $main-offset*2;
	padding: 0 $main-offset;
	margin: 0 auto;
}
.wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100%;
   overflow: hidden;
}

.main{
	padding-top: 70px;

	@media (max-width: 560px) {
		padding-top: 48px;
	}
}

.titles{
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
	align-items: start;
	row-gap: 8px;
	
	@media (max-width: 455px) {
		flex-direction: column-reverse;
	}
}

.title {
	font-size: 40px;
	font-weight: 700;
	line-height: 130%;
	
	span{
		color: rgb(131, 35, 53);
	}

	@media (max-width: 640px) {
		font-size: 32px;
	}

	@media (max-width: 455px) {
		font-size: 24px;
	}
}

.subtitle {
	margin-top: 13px;
	padding: 4px 16px;
	border: 1px solid rgb(188, 188, 188);
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;

	@media (max-width: 455px) {
		font-size: 14px;
	}
}