@import '@styles/vars';

.conditions {
	grid-area: conditions;
	display: flex;
	align-items: start;
	position: relative;
	overflow: hidden;

	@media (max-width: 760px) {
		flex-direction: column-reverse;
		align-items: center;
	}

	&::before,&::after{
		content: '';
		position: absolute;
		bottom: -50px;
		left: 0;
		width: 120%;
		height: 100px;

		@media (max-width: 760px) {
			bottom: -30px;
		}
	}

	&::before{
		background-color: $burgundy-color;
		transform: rotate(5deg);
		z-index: 2;
		bottom: -60px;
		left: -10px;
	}

	&::after{
		background-color: rgb(50, 50, 50);
		transform: rotate(-5deg);
		z-index: 1;
	}
}

.cars {
	position: relative;
	z-index: 3;

	img{
		max-width: 500px;
		
		@media (max-width: 550px) {
			max-width: 350px;
		}
	}
}

.buns {
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
	padding: 40px;

	@media (max-width: 960px) {
		padding: 20px;
	}
}

.bun {
	flex: 0 1 45%;

	@media (max-width: 960px) {
		flex: 0 1 80%;
	}
}
